*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
}
.d-block{
    width: 100%;
    Height: 50vh
}
#pro1,#pro3{
    position: absolute;
    top: 15%;
    left: 60%;
    height: 250px;
}
#pro2{
    position: absolute;
    top: 35%;
    left: 60%;
    height: 250px;
}
.carousel-caption{
    text-align: left;
    padding-bottom: 7.25rem !important;
    padding-left: 8.25rem !important;
}
.carousel-caption>h3
{font-size: calc(1.6rem + .6vw );}

.cardgroup{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 50px;
    margin: 50px auto;
    max-width: 1240px;
    padding: 20px;
 }
 .card>img{
    height: 250px;
    width : 345px;
    padding: 5px;
    border-radius: 15px;
 }
 
 .card>.card-title{
    padding: 10px;
 }
 .card{
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
 }

 
@media only screen and (max-width: 430px){
    #pro1,#pro3{
        position: absolute;
        top: 30%;
        left:5%;
        height: 200px;
    }
    #pro2{
        position: absolute;
        top: 40%;
        left: 5%;
        height: 200px;
    }
    .carousel-caption{
        text-align: left;
        padding-bottom: 12.25rem !important;
        padding-left: .25rem !important;
        font-size: small;
    }
    .carousel-caption>h3
    {font-size: calc(1.3rem + .6vw );
    font-weight: bold;}
    .carousel-caption>p{display:none}
    .carousel-caption>.btn{
        font-size: small;
        position: absolute;
        top: 80%;
        left:27%
    }
    .cardgroup{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, auto));

    }
    .card>img{
        height: 250px;
        width : 320px;}


}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    align-items: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-start;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

    #avatar_{
        margin-bottom: 15px;
        height: 150px;
        width : 150px;
        border-radius: 50%;
        border : solid 5px;
    }
    
#avatar_2{
    margin-bottom: 15px;
    height: 150px;
    width : 150px;
 }
#modal-content2>ul>li{
    list-style: none;
}
